<p id="notice"><%= notice %></p>

<h1>Orders Received from customers</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Item</th>
      <th>Final total</th>
      <th>Order status</th>
      <th>Customer</th>
      <th>Created on</th>
      <th colspan="2"> Action</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.items_list %></td>
        <td><%= order.final_total %></td>
        <td><%= order.order_status %></td>
        <td><%= order.user.full_name %></td>
        <td><%= order.created_at.strftime("%m/%d/%y %I:%M %p") %></td>
        <td>
            <%= link_to 'Edit', edit_admin_order_path(order), class: 'btn btn-success' %>
            <%= link_to 'Destroy', admin_order_path(order),
              method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        <td>
          <%= form_with(url: update_order_status_admin_order_path(order.id), method: :post, local: true) do |form| %>
            <%= form.button "Notify Customer", type: "submit", class: "btn btn-success", value: 'notify',
              name: 'status', disabled: disable_status(order, 'notify')%>
            <%= form.button "Paid", type: "submit", class: "btn btn-success", value: 'paid',
              name: 'status', disabled: disable_status(order, 'paid')%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
